{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Villes</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br />
        une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>
    <div class="table-wrapper">
        <header>
            <h3>Ville</h3>
        </header>
        <table>
            <tbody>
                {% for v in ville %}
                <tr>
                    <td><a href=/exchange/city/{{v.ID}}>{{v.CityName}}</a></td>
                </tr> 
                {% endfor %}                                                                            
            </tbody>
        </table>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}