{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Continents</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br />
        une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>
    <div class="table-wrapper">
        <header>
            <h3>Continent</h3>
        </header>
        <table>
            <tbody>
                <tr>
                    <td><a href=/exchange/continent/AS>Asie</a></td>
                </tr>   
                <tr>
                    <td><a href=/exchange/continent/AF>Afrique</a></td>
                </tr>  
                <tr>
                    <td><a href=/exchange/continent/AdN>Amerique du Nord</a></td>
                </tr> 
                <tr>
                    <td><a href=/exchange/continent/AdS>Amerique du Sud</a></td>
                </tr>
                <tr>
                    <td><a href=/exchange/continent/EU>Europe</a></td>
                </tr>  
                <tr>
                    <td><a href=/exchange/continent/OC>Oceanie</a></td>
                </tr>                                                                           
            </tbody>
        </table>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}