{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
    .required:after {
        content:" *";
        color: red;
    }
    .required_before:before {
        content:"* ";
        color: red;
    }
{% endblock style %}

{% block head %}
    <title>Recherche Avancée</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Recherche Avancée</h1>
        <p>Recherchez une université en fonction de filtres</p>
    </header>

    <div class="table-wrapper">
        <header><h3>Filtrer les Universitées selon:</h3></header>
        <form action="{% url 'search' %}"  method="post">
            {% csrf_token %}
            <label class="required" for="id_Continent">Continent&nbsp;:</label>
            <select name="Continent" required="" onchange="myFunction()" id="id_Continent">
                <option value="" selected="">---------</option>
                <option value="AS">Asie</option>
                <option value="AF">Afrique</option>
                <option value="AdN">Amerique du Nord</option>
                <option value="AdS">Amerique du Sud</option>
                <option value="EU">Europe</option>
                <option value="OC">Oceanie</option>
            </select>
            </br>
            <label for="id_CountryName">Pays&nbsp;:</label>
            <select name="CountryName" id="testt">
                <option value="" >---------</option>  
                {% for c in ttl %}
                <option value="{{ c.CountryName }}" id="{{c.ID}}" style="display:none;">{{ c.CountryName }}</option>
                {% endfor %}
            </select>
            </br>
            {{ formContract.as_p }}
            <hr>
            <h3>Ordonner les Universités selon:</h3>
            <label class="required" for="id_Ordre">Ordre&nbsp;:</label>
            <select name="Ordre" required="" id="id_Ordre">
                <option value="" selected="">---------</option>
                <option value="RankMetric">Ranking</option>
                <option value="LifeMetric">Qualité de Vie</option>
                <option value="CountryName">Pays</option>
                <option value="CWURRank">Ranking Mondial</option>
                <option value="Demand">Demande</option>
            </select>
            </br>
            </hr>
            <input id="buton" type="submit" value="Rechercher">
        </form>
    </div>
    {% if valide %}
    <div class="table-wrapper">
        <h3>Liste des universités</h3>
        <p>Nombre d'éléments trouvés : {{universitiesC.count}}</p>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Note du département</th>
                    <th>Qualité de vie</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Demande</th>
                    <th>Type de contrat avec l'INSA</th>

                </tr>
            </thead>
            <tbody>
                {% for u in universitiesC %}
                <tr>
                    <td><a href=/exchange/university/{{u.University.ID}}>{{u.University.Name}}</a></td>
                    <td>{{u.University.RankMetric}}</td>
                    <td>{{u.University.LifeMetric}}</td>
                    <td>{{u.University.City.CityName}}</td>
                    <td>{{u.University.City.Country.CountryName}}</td>
                    <td>{{u.University.Demand}}</td>
                    <td>{{u.get_ContractType_display}}</td>
                </tr>
                {% endfor %}                                        
            </tbody>
        </table>
    </div>
    {% endif %}
    <p class="required_before" style="font-size:12px;"> - Champ requis</p>
{% endblock main %}

{% block scripts %}
    function myFunction() {
        //on prend le continent saisi par utilisatuer
        var cont = document.getElementById("id_Continent").value
        console.log(cont)

        //on commence par cacher tout les pays
        {% for c in ttl %}
            if(cont == "{{c.Continent}}"){
                document.getElementById("{{c.ID}}").setAttribute('style', 'display:block;');
            }else{
                document.getElementById("{{c.ID}}").setAttribute('style', 'display:none;');
            }
        {% endfor %}
        
    }
{% endblock scripts %}