{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
    .accordion { 
        /*il faut changer la hauteur des boutons, mais changer le paramètre "height" ça marche pas*/
        background-color: #ffffff;
        color: #444;
        cursor: pointer;
        width: 100%;
        padding: 0 2rem;
        border: none;
        text-align: left;
        outline: none;

        transition: 0.2s;

        font-size: 1.5rem;
        height: 2rem;
        line-height: 0rem;

    }
            
    .active, .accordion:hover {
        box-shadow: inset 0 0 0 2px #18bfef;
        color: #18bfef !important;
    }
            
    .panel {
        padding: 0 2rem;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .column2 {
        float: left;
        width: 50%;
    }

    .column3 {
        float: left;
        width: 33.33%;
    }

    .column4 {
        float: left;
        width: 25%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
{% endblock style %}

{% block head %}
    <title>{{univ.Name}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'exchange/assets/css/jquery.rateyo.css' %}"/>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <h1>{{univ.Name}}</h1>
        <a href='{{univ.WebLink}}'>Lien vers le site de l'université</a>
        <p></p>
        <ul class="actions">
            <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <button class="accordion">Informations générales</button>
    <div class="panel">
        <div class="row">
            <div class="column2">
                <center>
                <h3>Pays : </h3>
                {{univ.City.Country.CountryName}}
                </center>
            </div>
            <div class="column2">
                <center>
                <h3>Ville : </h3>
                {{univ.City.CityName}}
                </center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="column2">
                <center>
                <h3>Semestre 1 </h3>
                <li>Date de début</li>
                {{ s1_start_date }}
                <li>Date de fin</li>
                {{ s1_end_date }}
                </center>
            </div>
            <div class="column2">
                <center>
                <h3>Semestre 2 </h3>
                <li>Date de début</li>
                {{ s2_start_date }}
                <li>Date de fin</li>
                {{ s2_end_date }}
                </center>
            </div>
        </div>

        <hr>
        <header>
            <h3>Places</h3>
        </header>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nombre de places</th>
                        <th>Durée</th>
                        <th>Exclusive à TC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pl %}
                    <tr>
                        <td>{{p.Places}}</td>
                        <td>{{p.get_Duration_display}}</td>
                        {% if p.Exclusive %}
                        <td>Oui</td>
                        {% else %}
                        <td>Non</td>
                        {% endif %}
                    </tr>
                    {% endfor %}                                       
                </tbody>
            </table>
        </div>

        <hr>
        <header>
            <h3>Demandes</h3>
        </header>
        <div class="row">
            <div class="column2">
                <center>
                <h5>Nombre de demandes</h5>
                {% if univ.Demand == -1 %}
                Pas d'information
                {% else %}
                {{univ.Demand}}
                {% endif %}
                </center>
            </div>
            <div class="column2">
                <center>
                <h5>Année sécable ?</h5>
                {% if univ.SplitableYear %}
                Oui
                {% else %}
                Non
                {% endif %}
                </center>
            </div>
        </div>
        <hr>
        <header>
            <h3>Autre</h3>
        </header>
        <div class="row">
            <div class="column3">
                <center>
                <h5>Type de contrat avec l'INSA :</h5>
                {% for c in cont  %}
                {{c.get_ContractType_display}}
                {% endfor %}
                </center>
            </div>
            <div class="column3">
                <center>
                <h5>Projets :</h5>
                {% if univ.Project %}
                Oui
                {% else %}
                Non
                {% endif %}
                </center>
            </div>
            <div class="column3">
                <center>
                <h5>Langue(s) des cours</h5>
                {% for l in langue %}
                {{l.Language}}
                {% endfor %}
                </center>
            </div>
        </div>
        </hr>
    </div>
    <button class="accordion">Qualité de vie</button>
    <div class="panel">
        <h3>Prix de la vie :</h3>
        <div class="row">
            <div class="column2">
                <center>
                <h5>Loyer mensuel moyen : </h5>
                {% if avg.r %}
                {{avg.r}} €
                {% else %}
                Pas d'information
                {% endif %}
                </center>
            </div>
            <div class="column2">
                <center>
                <h5>Dépenses mensuelles moyenne : </h5>
                {% if avg.m %}
                {{avg.m}} €
                {% else %}
                Pas d'information
                {% endif %}
                </center>
            </div>
        </div>
        <hr>
        <h3>Style de vie</h3>
        <div class="row">
            <div class="column3">
                <center>
                <h5>Vie nocturne :</h5>
                <div id="NightLife">
                    <script src="{% static 'exchange/assets/js/jquery.min.js' %}"></script>
                    <script src="{% static 'exchange/assets/js/jquery.rateyo.js' %}"></script>
                    <script>
                    var night = parseFloat("{{ avg.n }}".replace(/,/g, '.'));
                    console.log(night);
                    $(function () {

                        $("#NightLife").rateYo({

                            rating    : night,
                            spacing   : "5px",
                            readOnly: true,
                            multiColor: {

                                "startColor": "#FF0000", //RED
                                "endColor"  : "#00FF00"  //GREEN
                            }
                        });
                    });
                    </script>
                </div>
                </center>
            </div>
            <div class="column3">
                <center>
                <h5>Vie culturelle :</h5>
                <div id="CulturalLife">
                    <script src="{% static 'exchange/assets/js/jquery.min.js' %}"></script>
                    <script src="{% static 'exchange/assets/js/jquery.rateyo.js' %}"></script>
                    <script>
                    var cultural = parseFloat("{{ avg.c }}".replace(/,/g, '.'));
                    console.log(cultural);
                    $(function () {

                        $("#CulturalLife").rateYo({

                            rating    : cultural,
                            spacing   : "5px",
                            readOnly: true,
                            multiColor: {

                                "startColor": "#FF0000", //RED
                                "endColor"  : "#00FF00"  //GREEN
                            }
                        });
                    });
                    </script>
                </div>
                </center>
            </div>
            <div class="column3">
                <center>
                <h5>Sécurité :</h5>
                <div id="Security">
                    <script src="{% static 'exchange/assets/js/jquery.min.js' %}"></script>
                    <script src="{% static 'exchange/assets/js/jquery.rateyo.js' %}"></script>
                    <script>
                    var security = parseFloat("{{ avg.s }}".replace(/,/g, '.'));
                    console.log(security);
                    $(function () {

                        $("#Security").rateYo({

                            rating    : security,
                            spacing   : "5px",
                            readOnly: true,
                            multiColor: {

                                "startColor": "#FF0000", //RED
                                "endColor"  : "#00FF00"  //GREEN
                            }
                        });
                    });
                    </script>
                </div>
                </center>
            </div>
        </div>
    </div>
        
    <button class="accordion">Excellence</button>
    <div class="panel">
        <div class="row">
            <div class="column2">
                <center>
                <h5>Classement mondial (Shanghai) : </h5>
                {% if univ.CWURRank == 0 %}
                Pas d'information
                {% else %}
                {{univ.CWURRank}}
                {% endif %}
                </center>
            </div>
            <div class="column2">
                <center>
                <h5>Note du département (FLM) : </h5>
                {% if univ.RankMetric == -1 %}
                Pas d'information
                {% else %}
                {{univ.RankMetric}}
                {% endif %}
                </center>
            </div>
        </div>
    </div>
    
    <button class="accordion">Administratif</button>
    <div class="panel">
        <h3>Visa</h3>
        <div class="row">
            <div class="column2">
                <center>
                <h5>Visa nécessaire</h5>
                <!--A revoir implémentation-->
                {% if True in visa %}
                Oui
                {% else %}
                Non
                {% endif %}
                </center>
            </div>
            <div class="column2">
                <center>
                <h5>Délai d'obtention du visa </h5>
                {{ visa_text }}
                </center>
            </div>
        </div>
    <hr>
        <h3>Spécifications linguistique</h3>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Diplôme demandé</th>
                        <th>Niveau</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in langue %}
                        {% if l.LanguageDiploma %}
                            <tr>
                                <td>{{l.LanguageDiploma}}</td>
                                <td>{{l.get_LanguageLevel_display}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Non spécifié</td>
                                <td>Non spécifié</td>
                            </tr>
                        {% endif %}
                    {% endfor %}                                       
                </tbody>
            </table>
        </div>
    </hr>
    <hr>
    <h3>Bourses</h3>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Bourse obtenue</th>
                        <th>Valeur moyenne</th>
                        <th>Reçu tout les</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in fin_list %}
                        <tr>
                            <td>{{f.Name}}</td>
                            <td>{{f.Value}} €</td>
                            <td>{{f.get_ReceivedEvery_display}}</td>
                        </tr>
                    {% endfor %}                                       
                </tbody>
            </table>
        </div>
    </hr>
    <hr>
        <center>
        <h5>Equivalence crédits nationaux/crédits ECTS :</h5>
        {% if univ.City.Country.ECTSConversion != -1 %}
            {{univ.City.Country.ECTSConversion}}
        {% else %}
            Pas d'information
        {% endif %}
        </center>
    </hr>
    </div>

    <button class="accordion">Commentaires</button>
    <div class="panel">
        {% for e in ex %}
            {% if e.Comment %}
                <h5>{{e.Student.Name}} {{e.Student.Surname}}, parti le {{e.StartDate}} ({{e.Year}}A {{e.Student.INSADepartement}} S{{e.Semester}})</h5>
                <blockquote>{{e.Comment}}</blockquote>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
            
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
            });
        }
    </script>

    <div>
        <a href=/exchange/edit/{{univ.ID}} class ="button">Donner son avis sur cette université</a>
        {% if perms.exchange.noter_depart %}
        <a href=/exchange/add-department/{{univ.ID}} class="button">Ajouter une info officielle</a>
        {% endif %}
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}