{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Espace Etudiant</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <h1>Retour<br/>
        d'échange</h1>
        <p></p>
        <ul class="actions">
            <li><a class="button icon solo fa-arrow-down scrolly" href="#nav">Continue</a></li>
        </ul> 
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h2>Informations</h2>
    </header>
    
    <div height="20rem" id="centralsection">

    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}
