{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Ajouter une info - Departement</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a class="button icon solo fa-arrow-down scrolly" href="#nav">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br/>
            une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>

    <div class="table-wrapper">
        <header>
            <h3>Informations sur l'université</h3>
        </header>
        <form action="{% url 'edit-department-student' Uni.id Stud.id %}" method="post">
            {% csrf_token %}
            {{ formDep.as_p }}

            <h3>Informations Langue</h3>
            <label for="{{ form2.language.id_for_label }}">Langue des cours</label>
            {{ form2.language }}
            <i>Si vous n'avez pas passé de certification, cliquez sur "Continuer"</i>
            <br \>

            <label for="{{ form2.diploma_language.id_for_label }}">Quelle certification linguistique avez-vous dû passer ?
                ?</label>
            {{ form2.diploma_language }}
            <br \>

            <label for="{{ form2.language_level.id_for_label }}">Quel niveau avez-vous dû certifier ?</label>
            {{ form2.language_level }}
            <br \>
            <input type="submit" value="Continuer">
        </form>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}
