{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Ajouter une info - Departement</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a class="button icon solo fa-arrow-down scrolly" href="#nav">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br />
        une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>

    <div class="table-wrapper">
        <header>
                <h3>Informations sur l'université</h3>
        </header>
        <form action="{% url 'edit-department-student' Uni.ID Stud.ID %}" method="post">
            {% csrf_token %}
                
                {{ formDep.as_p}}
            <h3>Informations Langue</h3>
            <label for="{{form2.Language.id_for_label}}">Langue des cours</label>    
            {{ form2.Language }}
            <i>Si vous n'avez pas passé de certification, cliquez sur "Continuer"</i>
        </br>
            <label for="{{form2.LanguageDiploma.id_for_label}}">Quel certification linguistique avez-vous du passer ?</label>    
            {{ form2.LanguageDiploma }}
        </br>
            <label for="{{form2.LanguageLevel.id_for_label}}">Quel niveau avez-vous du certifier ?</label>    
            {{ form2.LanguageLevel }}
        </br>
            <input type="submit" value="Continuer">
        </form>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}
