{% extends 'exchange/base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block head %}
    <title>Ajouter une info - Echange</title>
{% endblock head %}

{% block intro %}
    <div id="intro" style="min-height: 0vh;">
        <ul class="actions">
            <li><a class="button icon solo fa-arrow-down scrolly" href="#nav">Continue</a></li>
        </ul>
    </div>
{% endblock intro %}

{% block main %}
    <header class="major">
        <h1>Ajouter<br />
        une info</h1>
        <p>Donne ton avis sur ton échange à l'étranger</p>
    </header>

    <div class="table-wrapper">
        <header>
            <h3>Informations sur votre échange</h3>
        </header>
        <form action="{% url 'edit-exchange' Uni.id Stud.id %}" method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-6 col-12-small">
                    <label for="{{form.year.id_for_label}}">Promo dans laquelle vous étiez durant votre échange</label>
                    {{form.year}}
                </div>
                <div class="col-6 col-12-small">
                    <label for="{{form.semester.id_for_label}}">Semestre de l'échange</label>
                    {{form.semester}}
                </div>
            </div>
            <hr>
            <i>Rentrez la date sous la forme dd/mm/yyyy</i>
            <div class="row">
                <div class="col-6 col-12-small">
                    <label for="{{form.start_date.id_for_label}}">Date du début de l'échange</label>
                    {{form.start_date}}
                </div>
                <div class="col-6 col-12-small">
                    <label for="{{form.end_date.id_for_label}}">Date de fin de l'échange</label>
                    {{form.end_date}}
                </div>
            </div>
            </hr>
            <hr>
            <div class="row">
                <div class="col-6 col-12-small">
                    <label for="{{form.rent.id_for_label}}">Quel était votre loyer ? (en €)</label>
                    {{form.rent}}
                </div>
                <div class="col-6 col-12-small">
                    <label for="{{form.monthly_expenses.id_for_label}}">Combien dépensiez-vous en moyenne par mois ? (en €)</label>
                    {{form.monthly_expenses}}
                </div>
            </div>
            </hr>
            <hr>
            <div class="row">
                <h4>Sur une échelle de 1 à 5 (5 étant la note la plus haute), quelle note donneriez-vous à...</h4>
                <div class="col-4 col-12-small">
                    <label for="{{form.night_life_grade.id_for_label}}"> la vie nocture (soirées, bars, etc) ?</label>
                    {{form.night_life_grade}}
                </div>
                <div class="col-4 col-12-small">
                    <label for="{{form.cultural_life_grade.id_for_label}}">la vie culturelle ?</label>
                    {{form.cultural_life_grade}}
                </div>
                <div class="col-4 col-12-small">
                    <label for="{{form.security_grade.id_for_label}}">la sécurité ?</label>
                    {{form.security_grade}}
                </div>
            </div>
            </hr>
            <hr>
            <h4>Visa</h4>
            <i>Si vous n'avez pas eu besoin de visa, cliquez directement sur "Continuer"</i>
            <p>
                {{formVisa.visa}}
                <label for="{{formVisa.visa.id_for_label}}">Avez-vous eu besoin d'un visa ?</label>
            </p>
            <p>Combien de temps a duré votre procédure de visa ?</p>
            <div class="row">
                <div class="col-4 col-12-small">
                    <label for="{{form.visa_months.id_for_label}}">Mois</label>
                    {{form.visa_months}}
                </div>
                <div class="col-4 col-12-small">
                    <label for="{{form.visa_weeks.id_for_label}}">Semaines</label>
                    {{form.visa_weeks}}
                </div>
                <div class="col-4 col-12-small">
                    <label for="{{form.visa_days.id_for_label}}">Jours</label>
                    {{form.visa_days}}
                </div>
            </div>
            </hr>
            <hr>
                <label for="{{form.comment.id_for_label}}">Avez-vous un commentaire à faire sur votre échange ?</label>
                {{form.comment}}
            </hr>
        <br />
            <div>
                <input type="submit" value="Continuer">
            </div>
        </form>
    </div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}
